.navbar {
    background-color: #006266;
}

.navbar-links > a {
    color: #FFFFFF !important;
}

.navbar-links-dropdown > a > a {
    color: #000 !important;
}

.navbar-links > a:hover, .navbar-links-dropdown > a > a:hover  {
    text-decoration: none;
}

.main-center {
    margin: 200px 10px;
    text-align: center;
    size: 100px;
    color: #006266;
}